{% extends 'base.html' %} 
{% block title %}Registration/Login {% endblock title %}
{% block info %}
<div class="row">
    <!-- Registro -->
    <div class="wrapper col md-6">
        <br>
        <div class="card-deck">
            <div class="card border-primary mb-3" style="max-width: 180rem;">
                <div class="card-header">Registro</div>
                <div class="card-body">
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="registro" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <label for="name">Nombre:</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </fieldset>
                        <fieldset>
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </fieldset>
                        <fieldset>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </fieldset>
                        <fieldset>
                            <label for="password2">Confirmar Password:</label>
                            <input type="password" class="form-control" name="password2" id="password2">
                        </fieldset>
                        <br>
                        <button class="btn btn-primary" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Login -->
    <div class="wrapper col md-6">
        <br>
        <div>
            <div class="card border-primary mb-3" style="max-width: 180rem;">
                <div class="card-header">Login</div>
                <div class="card-body">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <form action="inicio" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </fieldset>
                        <fieldset>
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </fieldset>
                        <br>
                        <button class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}